<%= form_for @bulletin do |f| %>
<% if @bulletin.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@bulletin.errors.count, "error") %>
    prohibited this article from being saved:
  </h2>
 
  <ul>
    <% @bulletin.errors.full_messages.each do |msg| %>
    <li class= "error"><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_field :content %> 
  <%= f.label :Board %>
  <%= f.collection_select :board_id, Board.all, :id, :title %>
  <%= f.hidden_field :board_id %> 
  <%= f.label :rating %> 
  <%= f.number_field :rating, max:5, min:0 %>
  <%= f.submit %>
<% end %>