<h1> Board Title:<%= @bulletin.board.title %></h1> 

<h2> Bulletins title: <%= @bulletin.title %></h2> 
<p>Content: <%= @bulletin.content %></p> 




<% if @bulletin.user == current_user %>
<%= button_to "Delete", bulletin_path(@bulletin), method: :delete %><br>
<%= link_to "Edit", edit_bulletin_path(@bulletin) %><br>
<%= link_to "Back", bulletins_path %> 
<% end %>