<h2> Sign Up </h2> 

<%= form_for @user do |f| %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this article from being saved:
    </h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li class= "error"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= f.label :username %>
<%= f.text_field :username %> 



<%= f.label :email %> 
<%= f.email_field :email %> 
</div>


<%= f.label :password %>
<%= f.password_field :password %> 
</div>

<%= f.submit "Submit" %>
<% end %>


