
<%= form_for @board do |f| %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% @board.errors.full_messages.each do |msg| %>
        <li class= "error"><%= msg %></li>
        <% end %>
      </ul>
   </div>
 <% end %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title%>
  </p> 
    <%= f.submit %>
<% end %>