<h2> Hi! <%= current_user.username %> </h2>  

<% @boards.each do |board| %>

    <h2><strong>Bulletin Board For <%= link_to board.month, board_path(board) %></h2></strong> 
    <p> <%= board.bulletins.count %> <%= link_to "Bulletins", board_bulletins_path(board)%> </p>
    <p> <%= link_to "Create New Bulletins", new_board_bulletin_path(board)%> </p> 
  
<% end %> 

