
<h2> Show all the Bulletins for the month of <%= @board.month %></h2>

<ul>
    <% @board.bulletins.each do |bulletin| %>
      <p><h4> Bulletins: <%= link_to bulletin.title, bulletin_path(bulletin) %></h4> by: <%= bulletin.user.username %></p>
    <% end %>
</ul>



<%= button_to "Delete", board_path(@board), method: :delete %><br>

<%= link_to "Edit", edit_board_path(@board) %><br>

<%= link_to "Back", boards_path %>