
<h2> Title: <%= @board.title %></h2> 

<ul>
    <% @board.bulletins.each do |bulletin| %>
      <p><h4> Bulletins: <%= link_to bulletin.title, bulletin_path(bulletin) %></h4> by: <%= bulletin.user.username %></p>
    <% end %>
</ul>

                      
<% if @board.user == current_user %>
<%= link_to "Create new Board", new_board_path(@board) %> |
<%= link_to "Edit", edit_board_path(@board) %> |
<%= link_to "Back", boards_path %> | <br>
<%= button_to "Delete", board_path(@board), method: :delete %><br> 
<% end %>
