<!DOCTYPE html>
<html>
  <head>
    <title>RailsPortfolioProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
        <%if logged_in?%>
       | <%= link_to "All Bulletins", bulletins_path %> |
        <%= link_to "All Boards", boards_path %> |
        <%= link_to "Add Board", new_board_path(@board) %> |
        <%= link_to "Logout", logout_path, method: 'delete' %> |
        <%else%>
        <%= link_to "Log In", login_path %> |
        <%= link_to "Sign Up", signup_path %> |
        <%= link_to "Log In with Google", '/auth/google_oauth2' %> |
         <%end%>
    </div><br>

    <div> 
       <%= flash[:message] if flash[:message] %>  
       <%= @error %>
    </div> 

    <%= yield %>
  </body>
</html>
