<!DOCTYPE html>
<html>
  <head>
    <title>RailsPortfolioProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
        <%if logged_in?%>
        <%= link_to "Logout", logout_path, method: 'delete' %> |
        <%= link_to "All Bulletins", bulletins_path %> |
        <%= link_to "All Boards", boards_path %> |
        <%= link_to "Create new Board", new_board_path(@board) %> |
     

        <%else%>
        <%= link_to "Login", login_path %> |
        <%= link_to "Signup", signup_path %> |
         <%end%>
    </div>
    <%= yield %>
  </body>
</html>
